.app{
  background-color: rgb(218, 167, 29);
  background-image: url("./iimg/wallpaperflare.com_wallpaper\ \(15\).jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: whitesmoke;
  width: 300px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 8px 16px rgba(0, 0, 0, .3);
  opacity: .7;
  margin-left: -600px;
  
  
}
.heading-text{
  font-size: 15px;
}

.amount-card{
  /* background-color: #130722; */
  height: 100px;
  margin-top: 20px;
}
.card-text{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;

}
.text-fields{
  margin-top: 40px;
}

.input{
  margin-bottom: 30px;
}
.outlined-basic{
  width: 300px;
}
.btn{
  width: 200px;
  height: 50px;
  font-weight: bolder;
}